html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 30px;
  animation: loader linear infinite 0.5s;
  color: #008753;
}
@keyframes loader {
  0%{
    transform: rotate(360deg);
  }
}
